.advantage {
    @extend %section;

    &__block {      
        display: block;
    }
}

.advantage-list {
        display: flex;
        // flex-wrap: wrap;
        gap: 30px;
        // padding-top: 60px;
        // padding-bottom: 60px;


    &__fram {
        height: 120px;
        margin-bottom: 30px;
        border-radius: 4px;
        background-color: var(--background-color-team);
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: var(--color-font-h2-h3-name);
    }

    &__text {
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: var(--color-font-contact-p);
    }
}


@media screen and (max-width: 767px) {
    .advantage-list {
        

        &__fram {
            display: flex;
            justify-content: center;
            gap: 30px;
            justify-content: center;
            align-items: center;
            width: 450px;
            
        }   
    }
}

@media screen and (min-width: 768px) {
    .advantage-list {
   

        &__fram {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 354px;
          
        }
    }
}

@media screen and (min-width: 1200px) {
    .advantage-list {


        &__fram {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 270px;       
        }        
    }
}