.contact {
    display: flex;
    gap: 50px;

    &__link {
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        gap: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
        color: var(--color-font-contact-p);
        transition: color var(--hover-effect);

        &:hover,
        &:focus {
            color: var(--button-color-web-second);
        }
    }

    &__icons {
        fill: currentColor;
    }
}