.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color-section1-footer);
    


/* div для двух divov */
    &__general {
        display: flex;
        align-items: baseline;
        justify-content: space-between;   
        
        @media screen and(max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }

        @media screen and (min-width: 768px) {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        @media screen and (min-width: 1200px) {
            justify-content: space-between;
        }
       
}

    &__block {
        display: flex;
        flex-direction: column;
        width: 231px;    

        @media screen and (max-width: 767px) {
        //    align-items: center;
        text-align: center;
          
        }

        @media screen and (min-width: 768px) {
            // align-items: center;
            text-align: center;
           
         }

         @media screen and (min-width: 1200px) {
            // align-items:flex-start;
            text-align: left;
           
         }

            

}

    &__socials {
        display: flex;
        flex-direction: column;  

            @media screen and (max-width: 767px) {
                padding-bottom: 60px;
              
        }

        @media screen and (min-width: 768px) {
            padding-bottom: 60px;
          
        }
    }

    /* h2 Приєднуйтесь */
    &__title {
        text-transform: uppercase;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        margin-bottom: 20px;
        color: var(--color-font-hero-address); 

        @media screen and (max-width: 767px) {
            // display: flex;          
            // justify-content: center;     
            text-align: center;   
        }

        @media screen and (min-width: 768px) {
            // display: flex;          
            // justify-content: center;       
            text-align: center;  
        }

        @media screen and (min-width: 1200px) {
            text-align: left;     
                    
        }


       
    }
}