.partners {
    @extend %section;

    &__block {       
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Постійний клієнт */
    &__title {
        text-align: center;
        font-size: 36px;
        line-height: calc(42 / 36);
        letter-spacing: 0.03em;
        margin-bottom: 50px;
        color: var(--color-font-h2-h3-name);
    }

    &__list {
        display: flex; 
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    &__item {
        width: 170px;
        height: 92px; 
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        fill: #AFB1B8;
        transition: fill var(--hover-effect);
    
        &:hover,
        &:focus {
            fill: var(--color-fill-hover);
            border: 1px solid #2196F3;
        } 
    }
}